user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;
    client_max_body_size 20M;

    #additional config
    include /etc/nginx/extra-conf.d/*;

    upstream target_service {
      server {{.TARGET_SERVICE}};
    }
    
    server {
      server_name _;
      listen 80;
      return 301 https://$host$request_uri;
    }
    
    server {
      server_name _; 
      listen 443;
    
      ssl on;
      ssl_certificate /etc/secrets/cert.pem;
      ssl_certificate_key /etc/secrets/key.pem;
      ssl_dhparam /etc/secrets/dhparam;
    
      ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
      ssl_ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-RSA-RC4-SHA:AES128-GCM-SHA256:HIGH:!RC4:!MD5:!aNULL:!EDH:!CAMELLIA;
      ssl_prefer_server_ciphers on;
      
      ssl_session_cache shared:SSL:10m;
      ssl_session_timeout 10m;
     
      ssl_session_tickets off;
      ssl_stapling on;
      ssl_stapling_verify on;
     
      add_header Strict-Transport-Security max-age=15638400;
      {{if .X_FRAME_OPTIONS}}
      add_header X-Frame-Options {{.X_FRAME_OPTIONS}};
      {{end}}
      add_header X-Content-Type-Options nosniff;
     
      location / {
          proxy_set_header        Host $host;
          proxy_set_header        X-Real-IP $remote_addr;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header        X-Forwarded-Proto $scheme;
          proxy_set_header        X-Forwarded-Host $http_host;
          {{if eq (default "" .SKIP_AUTHENTICATION_HEADER) "1" }}
          proxy_set_header   Authorization "";
          {{end}}
          proxy_pass              http://target_service;
          proxy_read_timeout      90;
          proxy_redirect          http:// https://;
          # TODO(tmc): make this optional?
          auth_basic              "Restricted";
          auth_basic_user_file    /etc/secrets/htpasswd; 
      }
    }
}
